<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.paradise.watchout">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"
        tools:ignore="UnsupportedTvHardware" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true"
        tools:ignore="UnsupportedTvHardware" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="true"
        tools:ignore="UnsupportedTvHardware" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <application
        android:name=".multimodule.ApplicationClass"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/watchout_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WatchOut"
        android:usesCleartextTraffic="true"
        tools:ignore="MissingTvBanner"
        tools:targetApi="31">
        <activity
            android:name=".multimodule.SplashActivity"
            android:exported="true" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- screenOrientation="portrait" 로 핸드폰 회전을 막음 -->
        <activity
            android:name=".multimodule.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
            <intent-filter>
                <action android:name="com.example.app.ACTION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.paradise.analyze.AnalyzesService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="camera"
            android:stopWithTask="false" />
<!--        <service-->
<!--            android:name="com.paradise.analyze.AnalyzesServicee"-->
<!--            android:enabled="true"-->
<!--            android:exported="false"-->
<!--            android:foregroundServiceType="camera"-->
<!--            android:stopWithTask="false" />-->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" /> <!-- provider_paths.xml 파일의 리소스 ID를 여기에 설정 -->
        </provider>
    </application>

</manifest>